<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test page</title>
    <!-- <link rel="stylesheet" href="public/semantic/.css"> -->
</head>

<body>
    <div class="ui sidebar">
        <div class="close-icon">
            <i class="material-icons">close</i>
        </div>
    </div>
    <script src="/public/js/jquery.min.js" charset="utf-8"></script>
    <script src="/public/semantic/dist/semantic.min.js" charset="utf-8"></script>
</body>

</html>